<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:{{{ slide.bg }}};">  
  
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}}
  </hgroup>
  {{/ slide.header }}
  
  <article data-timings="{{ slide.dt }}">
    {{{ slide.content }}}
  
  <footer class = 'logo'>
    <img src = 'assets/img/lope.png'></img>
  </footer>
    
  </article>
  
  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>

